<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>twitter風チャット画面(会話方式)を記事に表示する方法 │ ナコさんのブログ nako-log WEB小ネタと生活ライフハック</title>
  <link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
  
</head>
<body>

  <!-- ▼twitter風ここから -->
  <div class="twitter__container">
    <!-- タイトル -->
    <div class="twitter__title">
      <span class="twitter-logo"></span>
    </div>

    <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
    <div class="twitter__contents scroll">

      <!-- 記事エリア -->
      <div class="twitter__block">
        <figure>
          <img src="icon.png" />
        </figure>
        <div class="twitter__block-text">
          <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
          <div class="date">10分前</div>
          <div class="text">
            今日も終電だよ～<br>
          </div>
          <div class="twitter__icon">
            <span class="twitter-bubble"></span>
            <span class="twitter-loop"></span>
            <span class="twitter-heart"></span>
          </div>
        </div>
      </div>
    </div>
    <!--　▲タイムラインエリア ここまで -->
  </div>
  <!--　▲twitter風ここまで -->

</body>

</html>
